.custom_table {
    font-size: 25;
}

.custom_thead {
    background-color: #9dcce8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.custom_th {
    padding: 4%;
    border-bottom: 1px solid black;
}

.custom_tbody {
    padding: 1px;
}

.custom_tr {
    background-color: bisque;
    border-bottom: 1px solid black;
}

.custom_td {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.custom_tr:nth-child(even) { background-color: cornsilk;}
.custom_tr:nth-child(odd) { background-color: darkseagreen;}